<h1 class="m-4 color-theme">Our Mission</h1>
	
<div class="bg-white m-4 p-4 shadow">
		<h4>Our mission is to create a seamless and compassionate platform that connects individuals, businesses, and organizations with those in need of food. Through our website, we aim to reduce food waste, alleviate hunger, and promote community engagement by making it easy for people to donate surplus food to local charities, shelters, and food banks. 
		</h4>
</div>